<%= form_for Todo.new, local: true, :url => 'todo', :html => {:id => "add_todo_form"} do |form| %>
  <p>
    <%= form.text_field :text, placeholder: "Название задачи..." %>
  </p>
  <p>
    <%= form.select :project_id, Project.all.collect { |u| [ u.title, u.id] } %>
  </p>

  <a id="hide_todo" href="#">Отмена</a>
  <a id="submit_todo" href="#">ОК</a>
<% end %>
