<div class="header">
	<h1>Задачи</h1>
	<a id="add_todo" href="#">
		<img src="/todoimages/addTodoIcon.png"
			alt="Addtodoicon:">
	</a>
	 
	<% @projects.each do |project| %>
		<h2><%= project.title %> </h2>
		<ul>
			<% @todos.where(:project_id => project.id).each do |todo| %>
				<li> <%= todo.text %> </li>
			<% end %>
		</ul>
	<% end %>

	</div>

	<div id="div_form" style="display:none">
	<%= render 'todo/form' %>
</div>